html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

/* Navigation */
.obersteleiste {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    z-index: 1000;
}

.obersteleiste a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
}

.obersteleiste a:hover {
    color: #fff;
    background-color: rgb(196, 69, 54);
    border-radius: 5px;
}

/* Body */
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

body a {
    color: white;
    text-decoration: underline;
}

h2 {
    font-size: 60px;
    margin: 0cm;
    margin-bottom: 60px;
}


/* Container Grid */
.container {
    display: grid;
    grid-template-areas:
        "header header"
        "Stats MeinVerein"
        "content_hobbies content_hobbies"
        "content_traumhund content_traumhund"
        "footer footer";
    grid-template-columns: 2fr 2fr;
    gap: 10px;
}

/* MOBILE */
@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        font-size: 16px;
    }

    h2 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }
}




/* Header */
.header {
    grid-area: header;
    background-color: #C44536;
    color: white;
    padding: 1em;
    text-align: center;
}

/* Stats */
.Stats {
    grid-area: Stats;
    background-color: #C44536;
    color: white;
    text-align: center;
    padding: 4em;
}

.Stats ul {
    list-style: none;
}

/* Mein Verein */
.MeinVerein {
    grid-area: MeinVerein;
    background-color: #C44536;
    color: white;
    text-align: center;
    padding: 1em;

    #kamel {
        font-size: 24px;
        margin-top: 0px;
    }
}




.MeinVerein a:hover {
    color: #000;
    text-decoration: underline;
}

/* Hobbies */
.content_hobbies {
    grid-area: content_hobbies;
    background-color: #C44536;
    color: white;
    text-align: center;
    padding: 1em;
}

.content_hobbies ul {
    list-style: none;
}

.content_hobbies a.content-link-braun:hover {
    color: rgb(116, 42, 0);
    text-decoration: underline;
}

.content_hobbies a.content-link-gelb:hover {
    color: rgb(251, 255, 0);
    text-decoration: underline;
}

/* Traumhund */
.content_traumhund {
    grid-area: content_traumhund;
    background-color: #C44536;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Grid für Bilder 3+2 */
.content_traumhund .bilder-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* erste Reihe 3 Spalten */
    gap: 10px;
    justify-items: center;
    margin-bottom: 10px;
}

.content_traumhund .bilder-grid div img {
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
}

/* zweite Reihe 2 Spalten */
.content_traumhund .bilder-grid.zweite-reihe {
    grid-template-columns: repeat(3, 1fr);
}

/* Footer */
.footer {
    grid-area: footer;
    background-color: #C44536;
    color: white;
    padding: 1em;
    text-align: center;
}

.footer a:hover {
    color: rgb(110, 27, 206);
    text-decoration: underline;
}

/* Danke */
.danke {
    font-size: 0.8em;
    opacity: 0.7;
}