html{
    scroll-behavior: smooth;
}

.obersteleiste a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(196, 69, 54);
    border-radius: 5px;
}

.obersteleiste{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    flex-wrap: wrap;
}

.obersteleiste a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
}

/* Body einstellungen */

body a  {
    color: white;
    text-decoration: underline;
}

body{
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Container Einstellungen */
.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "Stats MeinVerein"
        "content content"
        "footer footer";
    grid-template-columns: 1fr 3fr; /* Links schmaler, rechts breiter */
    gap: 10px; /* Kleiner Abstand zwischen den Boxen */
}

.header {
    grid-area: header;
    background-color: #C44536;
    color: rgb(255, 255, 255);
    padding: 1em;
    text-align: center;
}

.Stats ul   {
    list-style-type: none;
}

.Stats {
    grid-area: Stats;
    text-align: center;
    background-color: #C44536;
    color: white;
    padding: 1em;
}

.MeinVerein {
    grid-area: MeinVerein;
    text-align: center;
    background-color:#C44536;
    color: white;
    padding: 1em;
}

.content ul {
    list-style-type: none;
}

.content {
    grid-area: content;
    text-align: center;
    background-color: #C44536;
    color: white;
    padding: 1em;
}



.footer {
    grid-area: footer;
    background-color: #C44536;
    color: white;
    padding: 1em;
    text-align: center;
}